@import '../mixin';

.blockMessageConv{
    height: 100%;
    width: 100%;

    overflow-y: scroll;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
            border-radius: 10px;
            background-color: #ffffff;
        }

        &::-webkit-scrollbar
        {
            width: 4px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
            background-color:rgba(69, 104, 188, 0.3); 
        } 
    
}


.blockMessage{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    width: 100%;
    min-height: 100%;
    max-height: max-content;
    margin-top: auto;
    padding-right: 5px;
    padding-bottom: 60px;

    
} 

.message{
    display: flex; 
    // flex-flow: row nowrap;
    width: 100%;
    margin: 5px; 

    img{
        border-radius: 25px;
        max-height: 25px;
        max-width: 25px;
    }
    p{
        font-size: 14px;
        margin-left: 10px;
        height: max-content;
        width: max-content;
        max-width: calc(100% - 40px);
        word-wrap: break-word;
        background-color: #d9e2e6;
        padding: 5px 10px;
        border-radius: 10px; 
        display: flex;
        flex-flow: column nowrap; 

        .displayName{
            font-size: 8px;
            color: grey;
        }
    }
    
}

.messageUser{
    display: flex; 
    justify-content: flex-end;
    width: 100%;
    padding: 5px; 

    p{
        
        font-size: 14px;
        margin-left: 10px;
        height: max-content;
        width: max-content;
        max-width: calc(100% - 40px);
        word-wrap: break-word;
        background-color: #9cafb8;
        padding: 5px 10px;
        border-radius: 10px; 
       
    

    }
}


.rowActionButton{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around;
    background-color: white;
    height: max-content;
    padding: 5px;
    // @include shadowActionBottom;
    z-index: 10;
    
    .limiteBlock{
        width:100%;
        margin:0 auto; 
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: flex-end;

        textarea{
            display: flex; 
            flex-flow: row wrap;
            width: 100%;
            min-height: 35px;
            max-height: 100px;
            padding: 10px;
            background-color: #d9e2e6;
            border : none;
            border-radius: 5px;

            &:focus{
                outline: none;
            }
            
        }

        button{
            margin: 0;
            margin-left: 10px;
            height: 50px;
            width: 50px;
            padding: 5px;
            img{
                width: 90%;
            }
        }
    }

}

.blockInfo{
    
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 75px;

    p, span{
        font-size: 16px;
        font-weight: 600px;
        margin-right: 25px;
        color: $fontColor;
        @media (max-width:400px){
            font-size: 14px;
            text-align: center;
        }
        
    }
    
}

.btnCreateConv{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; 
    width: 300px;
    height: 50px;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    color: $fontColor;
    background-color: #d9e2e6;

    @media (max-width:400px){
        width:250px;
    }

    &:hover{
        
        background-color: #9cafb8;
    }

    span{
        font-size: 16px;
        font-weight: 600px;
        // margin-right: 25px;
        width: max-content;
        
        @media (max-width:400px){
            font-size: 14px;
            text-align: center;
        }
    }

    img{
        max-width: 50px;
        max-height: 50px;
    }
}
