@import '../mixin';

.shoppingCartModal{
    position : fixed;
    top: 55px;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 150px;
    width: 460px;
    background-color: white;
    padding: 10px 20px; 
    @include BgWhiteBlur_Dft;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(18,33,0,0.25); 
    box-shadow: 0px 0px 10px 2px rgba(18,33,0,0.25);
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    z-index: 60;

    h3{
        margin: 5 auto;
        text-align: center; 
    }
}

.actionShoppingCart{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0px 5px 0px; 

    .btnActionPrincipale{
        
        @include btnActionPrincipale;

    }

    .btnActionSecondaire{
        @include btnActionSecondaire;
    }

}

.itemShoppingCart{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;

   

    p{
        font-size: 12px;
        &:hover{
            cursor: pointer;
        }
    }

    button{
        &:hover{
            cursor: pointer; 
        }
    }

    .linkItem{
        display: flex; 
        flex-flow: row nowrap; 
        align-items: center;
        justify-content: space-between;
        width: 82%;

        img{
            height: 45px;
            margin-right: 10px;
            &:hover{
                cursor: pointer;
            }
        }

        .name{
            flex: 5; 
        }
        .ref{
            flex: 1;
            text-align: center;
            padding: 0px 5px;
        }
    }

    .incremItem{
        display: flex; 
        flex-flow: row nowrap; 
        align-items: center;
        width: 18%;
        
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
        }

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px; 
        }
    }

}